.blog-section {
    background-color: #f8f9fa;
}

.blog-section .card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    height: 200px; /* Adjust as needed */
    object-fit: cover;
    width: 100%;
}
